body {
  margin: 0;
  background-color: grey;
}

.navhover:hover {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.navhover::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: aqua; 
    transition: width 0.3s ease-out;
}

.navhover:hover::after {
    width: 100%;
}

.section {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.image-container {
  position: relative;
  display: flex;
  width: 50%;
}

.image {
  height: 100vh;
  position: fixed;
  width: 50%;
  top: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  filter: blur(30px);
  opacity: 0;
  transition: filter 0.5s ease, opacity 0.5s ease;
}

.section.active .image {
  opacity: 1;
  filter: blur(0);
}

@media (max-width: 768px) {
  .image-container {
    width: 100%; /* Image takes full width on smaller screens */
  }

  .image {
    height: 50vh; /* Adjust height for smaller screens */
    width: 100%;
  }
}

